.pull-right {
    padding-top: 10px;
}

.navBar a {
    color: #5a5a5a;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Futura', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    
    /*text-transform: uppercase; */
}

.navBar a:hover {
    background-color: #555;
    color: #fff;
}

.navBar li {
    display: inline-table;
}

/*.banner {
    border-style: solid;
    border-color: aliceblue;
    position: relative;
    top: 100px;
    padding: inherit;
    z-index: -1;
}
 */

.jumbotron {
    height: 350px;
    padding-top: 70px;
    background-image: /*url('https://c2.staticflickr.com/6/5016/5391236889_0f019ab78d_b.jpg'); */
        url('https://static.pexels.com/photos/5049/forest-trees-fog-foggy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 100% 100%; */
    max-width: page width; 
    max-height: 100%;
    
}

.jumbotron h1 {
    color: #F0F8FF;
    //font-family: 'Open Sans Condensed', sans-serif;
    //font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Lato', sans-serif;
    //font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 15px;
    font-size: 75px;
    font-weight: 100;
    max-width: fixed;
    position: relative;
    //letter-spacing: -10;
    
    top: 69px;
    padding-left: 40px;    
}

.jumbotron p {
    color: #F0F8FF;
    //font-family: 'Open Sans Condensed', sans-serif;
    //font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    position: relative;
    max-width: fixed;
    text-align: left;
    top: 70px;
    padding-left: 40px;
}


/* //////////////////////////////////////// */
/* ///////////MASONRY TYPE LAYOUT //////////*/
/* //////////////////////////////////////// */


#container {
    background-color: whitesmoke;
    width: 1200px;
    margin: 0 auto;
}

#content {
    padding-top: 30px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    width: 1200px;
    
}

#content img {
    padding: 10px;
    max-width: fixed;
    height: auto;
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    
}

/* //////////////////////////////////////// */
/* //////////////////////////////////////// */




.contain {
    width: 96%;
    max-width: 960px;
    margin: 0 auto; /* to center the container */
    padding-top: 50px;
    
}

img {
    padding-right: 10px;
    vertical-align: top;
    margin: auto;
    width: 30%;
  height: auto;
}

.more p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #B20431;
    font-size: 15pt;
    padding-bottom: 20px;
   // margin-top: -5px;
    padding-top: 30px;
    
}

.more a: link {
    color: #B20431;
}

.frame {
    margin-top: 20px;
}

a.back-to-top {
    padding-top: 90px;
    display: none;
    width: 175px;
    height: 175px;
    text-indent: -9999px;
    position: fixed;
	z-index: 999;
	right: 25px;
	bottom: 0px;
    //top: 5px;
    //background: url("up-arrow-icon.png") no-repeat center //43%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
    text-align: right;
    opacity: 0.6;
}

a.back-to-top:hover {
    opacity: 0.9;
}
footer {
    color: #B20431;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    color: slategrey;
    font-weight: 500;
}

