
header {
    padding-top: 10px;
}


.navBar a {
    color: #5a5a5a;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Futura', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    
    /*text-transform: uppercase; */
}

.navBar a:hover {
    background-color: #555;
    color: #fff;
}

.navBar li {
    display: inline-table;
}

#back {
    
    background-color: whitesmoke;
}

body h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    letter-spacing: 40px;
    color: palevioletred;
}



#container {
   // background-color: whitesmoke;
    width: 1200px;
    margin: 0 auto;
}

#content2 {
    min-width: 200px;
    min-height: auto; 
    display: inline-block;
}

#content2 {
    padding-top: 30px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    /*width: 1200px; */
   /* width: 100%;
    height: auto; */
   /* min-width: 200px;
    min-height: auto; 
    display: inline-block; */
    
}

#content2 img {
    padding: 10px;
    max-width: fixed;
    height: auto;
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    padding-right: 10px;
    border: solid;
    border-color: whitesmoke;
}

#content2 p {
    position: relative;
    text-align: center;
    padding-top: 100px;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    //padding: 3px;
    padding-left: 5px;
    
}


footer p{
    color: #B20431;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    color: slategrey;
    font-weight: 500;
    padding-bottom: 7px;
}
