
header {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}


.navBar a {
    color: #5a5a5a;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Futura', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
    text-decoration: none;

    /*text-transform: uppercase; */
}

.navBar a:hover {
    background-color: #555;
    color: #fff;
}

.navBar li {
    display: inline-table;
}

#back {
    background-color: whitesmoke;
}

body h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    letter-spacing: 40px;
    color: palevioletred;
}

#allTheText {
    /*display: inline-block; */
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    height: auto;

    min-width: 100%;
    min-height: auto; /* Need this for the whitesmoke background */

    margin: 0px;
}

#imageDiv {
  /*float: left; */
  margin: 0px;
}

#imageDiv img {
  /*max-height: 20%;
  max-width: 20%; */

  height: 50%;
  width: auto;

  /*height: auto; */
  border-style: double;
  border-width: 10px;
  border-color: white;

  float: left;

  margin: 0px;
}

#textDiv {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  text-align: center;

  width: 50%;
  height: auto;

  min-width: 50%;
  min-height: auto; /* Need this for the whitesmoke background */

  margin: 0px;

  float: right;

}

footer p{
    color: #B20431;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0px;
    font-size: 15px;
    color: slategrey;
    font-weight: 500;
    padding-bottom: 7px;
}
